# Groimp
**/config.properties.txt
**/*.gsz~
**/*.xl~
**/*.rgg~
ext/*

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Python
**/__pycache__/
env/*

# General
.vscode/settings.json
.DS_Store
*.png
**/*.db
**/.env
templates

# Sphinx
**/*_static
**/*_templates
**/source/api

# Slurm
**/*.sif
**/slurm-*.out
**/core.*
/bin/

# Eclipse
.project
.classpath
